*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: "Montserrat", sans-serif;  
}

body{
    background: #ececec;
    display: flex; justify-content: center; align-items: center;
    height: 100vh; 
}

.container_box{
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: center;
    width: 350px; height: 370px; border-radius: 10px; 
    background: #fff;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.308);
}

h3{
    font-size: 30px;
}

.Tw{
    color: #886565;
}

.Title{
    width: 100%; padding-left: 40px; margin-bottom: 10px;
    text-align: left;
}

form{
    display: flex; flex-direction: column; align-items: center;
    justify-content: flex-start; min-width: 100%;
}

label{
    
}

form input{
    font-size: 15px;
    padding: 5px 10px; border: 2px solid #646464; border-radius: 3px;
    opacity: 0.8; width: 75%; padding: 13px; margin-bottom: 20px;
    outline: none;
}

form .btn{
    font-size: 15px; padding: 13px; border-radius: 4px;
    color: black; text-align: center; border: none;
    background: #928374; outline: none; 
    cursor: pointer; font-weight: bold;
    width: 75%;
}

.btn:hover{
    background-color: #7c7064;
}
